<!DOCTYPE html>
<html {{ site.language_attributes }} > 
<head>
    <meta charset="{{ site.charset }}">
    {{function('wp_head')}}
</head>
<body class='{{body_class}}'>
  	{% block header %}
      {% include 'views/header.twig' %}
    {% endblock %}
  {% block body '' %}
</body>
{{function('wp_footer')}}
</html>